ch07/.ipynb_checkpoints/ex05-checkpoint.ipynb
ch07/.ipynb_checkpoints/ex04-checkpoint.ipynb
ch07/.ipynb_checkpoints/ex03-checkpoint.ipynb
ch07/.ipynb_checkpoints/ex02-checkpoint.ipynb
ch07/.ipynb_checkpoints/ex01-checkpoint.ipynb
ch06/.ipynb_checkpoints/ex03-checkpoint.ipynb
ch06/.ipynb_checkpoints/ex02-checkpoint.ipynb
ch06/.ipynb_checkpoints/ex01-checkpoint.ipynb
ch05/.ipynb_checkpoints/ex02-checkpoint.ipynb
ch05/.ipynb_checkpoints/ex01-checkpoint.ipynb
ch04/.ipynb_checkpoints/ex02-checkpoint.ipynb
ch04/.ipynb_checkpoints/ex01-checkpoint.ipynb
ch02/.ipynb_checkpoints/ex09-checkpoint.ipynb
ch02/.ipynb_checkpoints/ex08-checkpoint.ipynb
ch02/.ipynb_checkpoints/ex07-checkpoint.ipynb
ch02/.ipynb_checkpoints/ex06-checkpoint.ipynb
ch02/.ipynb_checkpoints/ex05-checkpoint.ipynb
ch02/.ipynb_checkpoints/ex04-checkpoint.ipynb
ch02/.ipynb_checkpoints/ex03-checkpoint.ipynb
ch02/.ipynb_checkpoints/ex02-checkpoint.ipynb
ch02/.ipynb_checkpoints/ex01-checkpoint.ipynb
ch01/.ipynb_checkpoints/ex03-checkpoint.ipynb
ch01/.ipynb_checkpoints/ex02-checkpoint.ipynb
ch01/.ipynb_checkpoints/ex01-checkpoint.ipynb
ch08/.ipynb_checkpoints/ex01-checkpoint.ipynb
ch08/.ipynb_checkpoints/ex03-checkpoint.ipynb
ch08/.ipynb_checkpoints/ex02-checkpoint.ipynb
ch08/.ipynb_checkpoints/ex04-checkpoint.ipynb
ch08/.ipynb_checkpoints/Untitled-checkpoint.ipynb
ch08/.ipynb_checkpoints/ex05-checkpoint.ipynb
